@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    position: static; 
    width: 100%;
    margin: auto;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    background-color: rgb(248,249,250);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(8,90,67);
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0px;
    background: rgb(8,90,67);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.logo-company img{
    width: 200px;
    height: 100px;
}

/*Contact*/
.container-contact{
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

.title h2{
    padding-bottom: 10px;
    font-family: 'Assistant', sans-serif;
}

.title p{
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.hubungi{
    width: 100%;
    display: flex;
    background-color:white;
}

.form{
    width: 50%;
    height:  660px;
    flex-direction: column;
    gap: 15px;
    padding: 0px 30px;
    background-color: rgb(8,90,67);
    font-family: 'Roboto', sans-serif;
    color: white;
}

.input-box{
    position: relative;
    width: 500px;
    margin: 25px 0px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(225, 255, 255, 0.25);
    background: white;
    border: 1px solid #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #1d2b3a;
    font-size: 1em;
    margin-top: 5px;
}

.input-box .pesan{
    height: 250px;
}

.button-container{
    margin-top: 35px;
}

.button{
    background-color: white;
    color: rgb(8,90,67);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 15px;
    transition: .4s;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.button:hover{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}

/*Bagian Footer*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background:rgb(8,90,67);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container-footer .sec{
    margin-right: 30px;
}

footer .container-footer .sec.aboutus{
    width: 40%;
    line-height: 30px;
}

footer .container-footer h2{
    position: relative;
    color: white;
    font-weight: 500px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

footer .container-footer h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: white;
}

footer p{
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer img{
    width: 200px;
    height: 70px;
}

.sosmed{
    margin-top: 20px;
    display: flex;
}

.sosmed li{
    list-style: none;
}

.sosmed li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px ;
    text-decoration: none;
    border-radius: 4px;
}

.sosmed li a:hover{
    background: rgb(8,90,67);
    border: 2px solid white;
    color: white;
}

.sosmed li a .fa-brands{
    color: #222;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}   

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
    font-family: 'Poppins', sans-serif;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.contact .info li span{
    color: white;
}

.contact .info li a{
    color: white;
    text-decoration: none;
}

.contact .info li a:hover{
    color: #fff;
}

.copyright{
    width: 100%;
    background: rgb(8,90,67);
    padding: 8px 100px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
